.logo {
  height: 100px;
  width: auto;
}

.cart-container {
  position: relative;
  cursor: pointer;
}
#cart-icon {
  color: #ffffff;
  font-size: xx-large;
  transition: transform 0.3s;
}
#cart-icon:hover {
  transform: scale(1.1);
}
#cart-count {
  position: absolute;
  top: -5px;
  right: -8px;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 14px;
  clip-path: circle(50% at center);
  font-weight: bold;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 5.25rem;
  left: 8%;
  color: #fff;
  text-align: center;
}

.roundbtn1 {
  padding: 13px 25px 13px 25px;
  background-color: #d57b0e;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.roundbtn1:hover {
  background-color: #a86008;
}

.roundbtn2 {
  padding: 13px 25px 13px 25px;
  border: 2px solid black;

  color: black;
  font-weight: 500;
  text-decoration: none;
}

.roundbtn2:hover {
  border-color: #d57b0e;
  color: #000000;
}

.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}

/* For Even Smaller Screens */
@media (min-width: 0px) and (max-width: 359px) {
  .header-item-hide {
    display: block;
    display: none !important;
  }

  .roundbtn1 {
    font-size: xx-small;
    background-color: #d57b0e;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .roundbtn1:hover {
    background-color: #a86008;
  }

  .roundbtn2 {
    font-size: xx-small;
    border-color: #d57b0e;
    background-color: #00000069;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .product div.image-hide{
  display: none;
  }

  div.btton-block button{
    width: 30px;
    height: 30px;
  }

  .button-block{
    margin: 0;
    padding: 0;
  }

  .quantity span {
    font-size: 10px;
    font-weight: bold;
    background: #eee;
    padding: 5px 15px;
    border-radius: 5px;
  }

}

/* For Smaller Screens */
@media (min-width: 360px) and (max-width: 575px) {
  .logo {
    height: 70px;
    width: auto;
  }

  .headertime {
    font-size: xx-small;
    font-weight: 500;
  }

  .headeraddress {
    font-size: x-small;
  }

  .roundbtn1:hover {
    background-color: #a86008;
  }

  .roundbtn1 {
    font-size: x-small;
    background-color: #d57b0e;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .roundbtn2 {
    font-size: x-small;
    border-color: #d57b0e;
    background-color: #00000069;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .addressblock{
    display: none;
  }



}

@media (min-width: 576px) and (max-width: 768px) {
  .logo {
    height: 80px;
    width: auto;
  }

  .headertime {
    font-size: small;
    font-weight: 500;
  }

  .headeraddress {
    font-size: small;
  }

  .roundbtn1 {
    
    background-color: #d57b0e;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .roundbtn1:hover {
    background-color: #a86008;
  }

  .roundbtn2 {
   
    border-color: #d57b0e;
    background-color: #00000069;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  .roundbtn2:hover {
    border-color: #d57b0e;
    background-color: #ffffff54;
    color: black;
  }
}

/* Container Only for LargeScreen Shadow */
@media (min-width: 992px) {
  .lg-shadow {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  }
}

/* May Be removed later */

/* .quantity {
  margin-top: 10px;
  gap: 10px;
}
 */
.quantity button {
  background: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  /* padding: 5px 15px; */

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 40px;
  transition: background-color 0.2s;
}

.quantity button:hover {
  background-color: #218838;
}

.quantity span {
  font-size: 18px;
  font-weight: bold;
  background: #eee;
  padding: 5px 15px;
  border-radius: 5px;
}

/* .product-container {

} */

.custom-line {
  width: 50%;
  margin: 0 auto;
  border-width: 3px;
}

.product {
  transition: transform 0.3s ease-in-out;
  box-shadow: #000000;
}

.product:hover {
  transform: translateY(-3px);
}
.product img {
  object-fit: cover;
  clip-path: circle();
}
.product p {
  /* font-size: 25px; */
  font-weight: 500;
  text-align: start;
  padding: 0;
  margin: 0;
  color: #000000;
}

/* .product p.price-font {
  font-size: 30px !important;
  color: #e12626;
} */

.product p.des {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 20px !important;
}
